<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{url_for('css_static', filename='style.css')}}">
</head>
<body>

<form id="uploadform" method="post" enctype="multipart/form-data">
    <label for="file">Select a file</label>
    <input name="file" type="file">
    <button id="submit" type="button">Upload</button>
</form>
<p>Result Filename:&nbsp;<span id="resultFilename"> here</span></p>
<p>Result Filesize:&nbsp;<span id="resultFilesize">here</span></p>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="{{url_for('js_static', filename='app.js')}}"></script>
</body>
</html>